<?xml version="1.0"?>
<NodeDescriptor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AzureInfo>
    <AzureDeviceName>RaspberryIOT</AzureDeviceName>
    <AzureIOTApplicationConnectionString>HostName=demoyodiwohub....</AzureIOTApplicationConnectionString>
  </AzureInfo>
  <YodiwoInfo>
    <YodiwoNodeKey></YodiwoNodeKey>
    <YodiwoSecretKey></YodiwoSecretKey>
    <YodiwoRestUrl>https://tcyan.yodiwo.com</YodiwoRestUrl>
    <YodiwoApiServer>tcyan.yodiwo.com</YodiwoApiServer>
    <YPChannelPort>14623</YPChannelPort>
    <SecureYPC>true</SecureYPC>
  </YodiwoInfo>
  <ThingsDescription>
    <ThingDescriptor>
      <ThingDescriptor>
        <Name>Button</Name>
        <Type>integer</Type>
        <IO>output</IO>
        <FriendlyIcon>http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-3d-buttons-icons-symbols-shapes/018512-glossy-black-3d-button-icon-symbols-shapes-power-button2.png</FriendlyIcon>
      </ThingDescriptor>
      <ThingDescriptor>
        <Name>Light</Name>
        <Type>integer</Type>
        <IO>output</IO>
        <FriendlyIcon>https://cdn2.iconfinder.com/data/icons/swanky-outlines/128/0015_Light-Bulb.png</FriendlyIcon>
      </ThingDescriptor>
      <ThingDescriptor>
        <Name>LCD</Name>
        <Type>string</Type>
        <IO>input</IO>
        <FriendlyIcon>http://apk-dl.com/detail/image/com.LcdTest-w250.png</FriendlyIcon>
      </ThingDescriptor>
      <ThingDescriptor>
        <Name>Led</Name>
        <Type>integer</Type>
        <IO>input</IO>
        <FriendlyIcon>http://www.cocoweb.com/template/image_descriptions/barnlights/led_icon.png</FriendlyIcon>
      </ThingDescriptor>
      <ThingDescriptor>
        <Name>RotaryAngleSensor</Name>
        <Type>integer</Type>
        <IO>output</IO>
        <FriendlyIcon>http://www.seeedstudio.com/wiki/images/thumb/a/af/Grove_-_Rotary_Angle_Sensor_(P).jpg/400px-Grove_-_Rotary_Angle_Sensor_(P).jpg</FriendlyIcon>
      </ThingDescriptor>
    </ThingDescriptor>
  </ThingsDescription>
</NodeDescriptor>